html {
    font-size: 100%;
}

body {
    background-color: #CCFF66;
    font-family: Garamond, "Times New Roman", serif;
    font-size: 1rem;
    line-height: 1.4;
    width: 100%;
}

.directory {
    background-color: #0Bf49B;
    color: #5A0B8E;
    font-size: 1.2rem;
}
h2 {
    background-color: #0Bf49B;
    color: #5A0B8E;
    font-size: 1.6rem;
    font-weight: 700;
}
h3 {
    background-color: #0Bf49B;
    color: #5A0B8E;
    font-size: 1.3rem;
    font-weight: 600;
}
h1 {
    background-color: #10C634;
    color: #503262;
    font-size: 2rem;
    font-weight: 800;
}

main {
    padding: 10px;
    border: 5px solid black;
    margin: auto;
    width: 80%;
}

section {
    box-sizing: border-box;
    padding: 10px;
    border: 3px solid black;
    width: 100%;
    margin: 0.7rem;
}

p {
    border: 2px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    text-indent: 25px;
}

picture {
    width: 90%;
    margin: auto;
    object-fit: fill;
}