/*The code below changes the website to rearrange it and style it based on
chosen colors and settings*/

html {
    font-size: 100%;
}

body {
    background-color: #CCFF66;
    font-family: Garamond, "Times New Roman", serif;
    font-size: 1rem;
    line-height: 1.4;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

/*This class was created so the directory menu could be styled
seperately from other similar elements*/

.directory {
    background-color: #0Bf49B;
    color: #5A0B8E;
    font-size: 1.2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style-position: inside;
    list-style-type: none;
}

/*This code sets the styles for the different header sizes used in the site*/

h2 {
    background-color: #0Bf49B;
    color: #5A0B8E;
    font-size: 1.6rem;
    font-weight: 700;
}
h3 {
    background-color: #0Bf49B;
    color: #5A0B8E;
    font-size: 1.3rem;
    font-weight: 600;
}
h1 {
    background-color: #10C634;
    color: #503262;
    font-size: 2rem;
    font-weight: 800;
}

/*Code for main is an example of a flexbox configuration*/

main {
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    justify-content: center;
}

section {
    box-sizing: border-box;
    padding: 8px;
    border: 3px solid black;
}

/*The code below sets up the main and secondary section classes
to organize pages in a 2 column layout*/
.main_section {
    width: clamp(320px, 40%, 1000px);
}

.secondary_section {
    width: clamp(320px, 40%, 1000px);
}

p {
    border: 3px double black;
    margin: 0.5rem;
    padding: 0.5rem;
    text-indent: 25px;
}

picture {
    display: flex;
    width: 90%;
    margin: auto;
}

picture img {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: auto;
}